#output{
    width: 350px;
    height: 300px;
    box-shadow: 0 8px 16px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#output h1{
    text-align: center;
    border-bottom: solid 2px black;
}
#output h4{
    font-size: 20px;
}
#output div{
    display: block;
}
#output h2{
    text-align: center;
}
#output h3{
    text-align: center;
}
#header{
    border-bottom: solid 2px black;
    margin-bottom: 20px;
}